#backto {
	cursor: pointer;
	z-index: 1;
    background: #FFFFFF;
    opacity: 0.8;
    border: 2px solid black;
    display: inline-block;
    height: 29px;
    line-height: 29px;
    position: relative;
    text-decoration: none;
    left: 1rem;
    width: 80px;
    text-align: center;
}

#backto:before{
	z-index: 1;
    background: #FFFFFF;
    border: 2px solid black;
    border-right: none;
    border-top: none;
    content: '';
    display: block;
    height: 21px;
    left: -12px;
    position: absolute;
    top: 2px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 20px;
}
#backto span {
	z-index: 1;
    color: #000000;
    background: none;
    border: none;
    font-weight: bold;
    position: relative;
    width: 80px;
    height: 28px;
    left: -0.2rem;
    top: -0.2rem;
}
#backto:hover, #backto:hover::before {
	background: #333;
}
#backto span:hover, #backto:hover>span  {
	color: #FFFFFF;
}